extends layout

block content
  h1= title
  .container-fluid
    .row
      each item in results
        .col-sm-2
          p Material: #{item.material}
          p Style: #{item.style}
          p Year: #{item.year}
          a(href='/sculptures/update?id=' + item._id)
            button(class='btn btn-primary btn-sm') Update