extends layout

block content
  h1= title

  - let sculptureid = toShow._id
  - let sculpture_material = toShow.material
  - let sculpturyear = toShow.year
  - let sculpturestyle = toShow.style

  div.row(class='mb-2')
    div.mr-1 ID is
    div #{sculptureid}
  - let actionid = "/resource/sculptures/" + sculptureid
  form(id='SculptureForm', action= actionid, method="PUT")
    div.form-group
        label.sculptureAttr(for='sculpture_material') Sculpture material
        input#sculpture_material(type='text', name='material', value= sculpture_material )
    div.form-group
        label.sculptureAttr(for='sculpture_style') Sculpture style
        input#sculpture_style(type='text', name='style', value= sculpturestyle )
    div.form-group
        label.sculptureAttr(for='sculpture_year') Sculpture year
        input#sculpture_year(type='number', name='year', value= sculpturyear )
    input(type="submit")

  script.
    document.forms['SculptureForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target))
      }).then((resp) => {
        if (!resp.ok) {
          return resp.text().then(text => { throw new Error(text) });
        }
        return resp.json();
      }).then((body) => {
        alert("Update succeeded")
      }).catch((error) => {
        alert("Update failed: " + error)
      });
    });
