extends layout

block content
  h1= title
  .container-fluid
    .row
      each item in results
        .col-sm-2
          p Material: #{item.material}
          p Style: #{item.style}
          p Year: #{item.year}